.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  position: absolute;
  display: block;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: rgb(59, 45, 90);
  text-align: center;

  width: 700px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
}

.loader::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: rgb(59, 45, 90);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

.error {
  position: absolute;
  display: block;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: rgb(247, 15, 18);
  text-align: center;

  width: 700px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100px;
}

.error::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: rgb(247, 15, 18);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

.breed-select {
  height: 60px;
  font-weight: 500px;
  color: #000;
  border: 2px solid #000;
  font-size: 32px;
  font-style: normal;
  display: block;
  position: static;
  margin: 0 auto;
}

.cat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.cat-info img {
  width: 700px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cat-info h2 {
  font-size: 38px;
  margin: 0;
  padding: 5px 10px;
  background-color: #fff;
}

.cat-info p {
  width: 670px;
  text-align: center;
  margin-bottom: 40px;
}

.cat-info h3 {
  font-size: 28px;
  margin-top: 0;
}
